.pc-flex-row {
  flex-direction:row;
}

.pc-flex-column {
  flex-direction:column;
}

.pc-button {
  position:relative;
  display:inline-block;
  width:100%;
  padding:12px;
  vertical-align:middle;
  border:1px solid $oc-blue-3;
  cursor:pointer;
  border-radius:16px;
  overflow:hidden;
  box-shadow:0 4px 4px $oc-gray-2;
  box-sizing:border-box;
  text-align:center;
  text-decoration:none;
  color:$oc-blue-8;

  transition:all 0.132s ease-in-out;

  & > div.wrap {
    align-self:center;
    text-align:center;
    width:100%;
  }

  &[disabled="disabled"] {
    border-color:$oc-gray-4;
    opacity:0.7;
    cursor:default;

    &::after {
      position:absolute;
      width:100%;
      height:100%;
      text-align:center;
      background-color:rgba(255, 255, 255, 0.75);
      left:0;
      top:0;
      font-weight:bold;
      font-size:14pt;
      word-break:keep-all;
      box-sizing:border-box;
    }
  }

  &:hover {
    border-color:$oc-blue-5;
    box-shadow:0 4px 4px $oc-gray-3;
  }

  // Size
  &.pc-button-large {
    height:360px;
  }

  &.pc-button-reverse {
    display:inline-block;
    margin:16px 0 0;
    text-align:center;
    color:#fff;
    font-weight:600;
    text-decoration:none;
    font-size:18px;

    background-color:$oc-blue-4;
  }
}

.pc-box-flex {
  width:100%;
  display:flex;

  .pc-button {
    margin:0 12px;
  }

  &.pc-flex-column .pc-button {
    margin:6px 0;
  }
}
